.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

img {
	display: block;
	float: left;
	width: 150px;
	height: 50px;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #2196F3;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #ddd;
  color: black;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

#tableInput {
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
	margin-top: 40px;
	margin-left: 270px;
	margin-right: auto;
	width: 900px;
}

#itemTable {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse; /* Collapse borders */
	width: 70%; /* Full-width */
	border: 1px solid #ddd; /* Add a grey border */
	font-size: 18px; /* Increase font-size */
}

#itemTable th, #itemTable td {
	text-align: left; /* Left-align text */
	padding: 12px; /* Add padding */
}

#itemTable tr {
	/* Add a bottom border to all table rows */
	border-bottom: 1px solid #ddd;
}

#itemTable tr.header, #itemTable tr:hover {
	/* Add a grey background color to the table header and on hover */
	background-color: #f1f1f1;
}